**ASSIGNMENT 23**

**1. What is the result of the code, and why?**
>>> def func(a, b=6, c=8):
print(a, b, c)
>>> func(1, 2)

In [ ]:
def func(a, b=6, c=8):
  print(a, b, c)
func(1, 2)

1 2 8

In this code, func() is called with two values. In code defined function func() is having three arguments a, b = 6, c = 8 where b and c having integer values defined. 

while calling function func(), here we are defining two values , therefore interpreter passes these values in order to arguments a and b  ,

hence value of arguments a become 1 and value of b become 2 .i.e. 
a =1 , b =2. the value of argument c is laready predefined which is equal to 8 , hence c =8.

**Output is** 


**1 2 8**








************************************************************************************************************************************************************************************************************************************************************************************************************************************

**2. What is the result of this code, and why?**
>>> def func(a, b, c=5):
print(a, b, c)
>>> func(1, c=3, b=2)

In [ ]:
def func(a, b, c=5):
    print(a, b, c)
func(1, c=3, b=2)

1 2 3

In this code, func() is called with two values. In code defined function func() is having three arguments a, b , c = 5 where c having integer values defined. 

while calling function func(), here we are defining three values , therefore interpreter passes these values in order to arguments a and b ,c.

hence value of arguments a become 1 and value of b become 2 and value of c become 3 .i.e. 
a =1 , b =2 , c =3. 

**Output is** 


**1 2 3**








************************************************************************************************************************************************************************************************************************************************************************************************************************************

**3. How about this code: what is its result, and why?**
>>> def func(a, *pargs):
print(a, pargs)
>>> func(1, 2, 3)

In [ ]:
def func(a, *pargs):

    print(a, pargs)
func(1, 2, 3)

1 (2, 3)

In [ ]:
def func(a, *pargs):

    print(a, pargs)
func(1, 2, 3,4,5,6,7,8,9,10)

1 (2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
def func(*pargs):

    print(pargs)
func(1, 2, 3)

(1, 2, 3)

In [ ]:
def func(*pargs):
  for i in pargs:
    print(i)
func(1, 2, 3)

1
2
3

In [ ]:
def func(a, *pargs):
  for i in pargs:
    print(i)

    
func(1, 2, 3)

2
3

In this code, func() is called with three values 1,2,3. 

In code defined function func() is having two arguments a and *pargs which is nonkeyword argument which takes any number of variable numbers as arguments. 

Here a argument takes value 1 and *parges takes all available remaining numbers 2 and 3

**Output is** 


**1 (2, 3)**








************************************************************************************************************************************************************************************************************************************************************************************************************************************

**4. What does this code print, and why?**
>>> def func(a, **kargs):
print(a, kargs)
>>> func(a=1, c=3, b=2)

In [ ]:
def func(a, **kargs):
  print(a, kargs)
func(a=1, c=3, b=2)

1 {'c': 3, 'b': 2}

In this code, func() is called with three arguments with assigning values a=1, c=3, b=2. 

In code defined function func() is having two arguments a and *kargs which is keyword argument being a dictionary key-value pair hence arguments passes through function acts as key and valu or number assigned to those arguments acts as value.

Here a argument takes value 1 and *kargs takes all available remaining c=3, b=2 in key-value format

**Output is** 


**1 {'c': 3, 'b': 2}**








************************************************************************************************************************************************************************************************************************************************************************************************************************************

**5. What gets printed by this, and explain?**
>>> def func(a, b, c=8, d=5): print(a, b, c, d)
>>> func(1, *(5, 6))

In [ ]:
def func(a, b, c=8, d=5): 
  print(a, b, c, d)
func(1, *(5, 6))

1 5 6 5

In [ ]:
def func(a, b, c=8, d=5): 
  print(a, b, c, d)
func(1, *(5, 6,7))

1 5 6 7

In [ ]:
def func(a, b, c=8, d=5): 
  print(a, b, c, d)
func(1, *(5, 6, 7, 10))

TypeError: ignored

In defined function, 4 arguments are declared, some arguments assigned with integer values
a,b, c =8, d=5



When func() calling with (1,*(5,6)), it means 1 will be assigned to argument a = 1, and *(5,6) is tuple of two values. these values will be assigned to b and c on order basis ie. b = 5 and c =6. The new value for d is not assigned during call function, hence it will take d = 5

**6. what is the result of this, and explain?**
>>> def func(a, b, c): a = 2; b[0] = 'x'; c['a'] = 'y'
>>> l=1; m=[1]; n={'a':0}
>>> func(l, m, n)
>>> l, m, n

In [ ]:
def func(a, b, c):
  a = 2; b[0] = 'x'; c['a'] = 'y';
l=1; m=[1]; n={'a':0}
func(l, m, n)
l, m, n

(1, ['x'], {'a': 'y'})

After calling function  func(l,m,n) ,

def func(a, b, c): 

then l=1; m=[1]; n={'a':0}


Therefore values of a,b,c will be 
a=1; b=[1]; c={'a':0}

Then
a = 2; b[0] = 'x'; c['a'] = 'y'

Then

l, m, n 

Therefore values  of l,m,n will be 
l=1,m=['x'],  n={'a':'y'}